<!-- Con esto extendemos de layout y todo lo que tenga layout estará en el index-->
{% extends 'layout.html' %} 

<!-- indicamos que empieza el body -->
{% block body %} 

<!-- Navegación para ir desde un dispositivo a otro y en el cuerpo tenemos la funcionalidad del modelo,
esto más adelante se puede hacer una plantilla y que luego hereden de esto para que tengan lo mismo y no repetir tanto
código-->
<div class="card mx-5 my-5">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Local</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="#">Orin-CPU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="#">Orin-GPU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="#">Raspberry</a>
            </li>
        </ul>
    </div>
    <div class="card-body">

        <!-- Formularios para poner el botón de comprobar conexión-->
        <form action="#" id="conexion" method="post">
            <div class = "mb-4">
                
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-link btn-lg" name="submit_conexion">
                            <svg class="bi theme-icon-active" style="font-size: 4rem;"><use href="#bi-broadcast"></use></svg> 
                        </button> 
                    </div>
                    <div class="col">
                        {% if estado %}
                            {% if estado == 'OFF'%}
                            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <div>
                                    La conexión con <strong>{{placa}} no</strong> está en funcionamiento.       
                                </div>
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% elif estado == 'ON' %}
                            <div class="alert alert-success d-flex align-items-center my-3" role="alert">
                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                <div>
                                    La conexión con <strong>{{placa}}</strong> está funcionando <strong>correctamente</strong>.
                                </div>
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-dark d-flex align-items-center my-3" role="alert">
                                <div>
                                    Comprueba la conexión mediante el icono, para saber cual podrás
                                    utilizar para la resolución de los problemas.
                                </div>
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div>
                <!-- Campos ocultos que sirven para guardar la placa y el modelo -->
                <input type="hidden" id="placa" name="placa" value="Local">
            </div>  
        </form>

    </div>
</div>

<script>
    // Cambia el valor del campo oculto cuando se cambia de pestaña
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', function() {
            document.getElementById('placa').value = this.innerText;
        });
    });


    // Cambia la pestaña activa dependiendo de al link que pulsemos en la navegación
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', function() {
            // Elimina la clase 'active' de todos los enlaces
            document.querySelectorAll('.nav-link').forEach(link => {
                link.classList.remove('active');
            });
            // Agrega la clase 'active' solo al enlace clicado
            this.classList.add('active');
        });
    });
</script>

<!--Aquí indicamos que termian el body-->
{% endblock %} 
