<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Processing</title>
</head>
<body>
    <h1>Text Processing</h1>
    <form action="/enviar" method="post">
        <label for="texto">Texto:</label><br>
        <input type="text" id="texto" name="texto"><br>
        <input type="submit" name="submit_clasificacion" value="Clasificar Texto">
        <input type="submit" name="submit_traduccion" value="Traducir Texto">
    </form>
</body>
</html>
